# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Setup Node
      uses: actions/setup-node@v2.1.1
      with:
        node-version: '12.x'      

    - name: Install dependencies
      run: |
        npm ci 
        npx lerna bootstrap
        
    - name: Build packages
      run: npm run build
      
    - name: Test packages
      run: npm test

    - name: Upload to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage/clover.xml
        fail_ci_if_error: true
        directory: ./coverage/lcov-report/

  coverage:
    needs: [ build ]
    name: coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v2.1.1
        with:
          node-version: '12.x'

      - name: Install dependencies
        run: |
          npm ci
          npx lerna bootstrap

      - uses: paambaati/codeclimate-action@v2.2.4
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: npm test -- --coverage
